.dashboard-content {
    padding: 20px;
    font-family: 'Roboto', sans-serif; /* Modern and clean font */
}

.card-container {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding-bottom: 20px;
}

.card {
    background-color: #d6dce3; 
    border-radius: 12px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
    padding: 20px;
    width: 40%; 
    transition: transform 0.3s ease; /* Hover effect */
}

.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.chart-container {
    height: 300px;
}

h1.dashboard-title {
    font-size: 28px;
    font-weight: bold;
    color: #08203E;
    margin-bottom: 20px;
    text-align: center;
}

h2 {
    font-size: 20px;
    margin-bottom: 10px;
    color: #08203E; 
}

@media (max-width: 768px) {
    .card-container {
        flex-direction: column;
    }

    .card {
        width: 100%;
    }
}
